@using MVCSTOKTAKIP.Models.Entity
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>URUN ID</th>
        <th>ÜRÜN ADI</th>
        <th>MARKASI</th>
        <th>KATEGORİ</th>
        <th>FİYAT</th>
        <th>STOK</th>
        <th>EKLE</th>
        <th>SİL</th>

    </tr>
    <tbody>
        @foreach (var urun in Model)
        {

            <tr>
                <th>@urun.URUNID</th>
                <td>@urun.URUNAD</td>
                <td>@urun.MARKA</td>
                <td>@urun.TBLKATEGORILER.KATEGORIAD</td>@*INNER JOİN KULLANIMI // TABLOLAR İLİŞKİLİ OLDUĞU İÇİN URUN TABLOSUNDA ÜRÜN ID YE EŞİT OLAN ADI GETİRİR *@
                <td>@urun.FIYAT</td>
                <td>@urun.STOK</td>
                <td><a href="URUNLER/SIL/@urun.URUNID" class="btn btn-danger">SIL</a> </td>
                <td><a href="URUNLER/GUNCELLE/@urun.URUNID" class="btn btn-success">GUNCELLE</a> </td>
            </tr>
        }
    </tbody>
</table>

<a href="/URUN/YeniUrun" class="btn btn-primary center-block">YENİ URUN EKLE</a>

